SECRET_KEY=
PEPPER_SECRET=

BOT_TOKEN=
BOT_DATABASE_URL=sqlite+aiosqlite:///./bot.db

ACCESS_PRIVATE_KEY=
REFRESH_PRIVATE_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
BCRYPT_ROUNDS=12

DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=Pass123456

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=Pass123456

RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

URL=https://www.cbr-xml-daily.ru/daily_json.js